*.pbd
*.exe
*.obj
*.ipch
*.tlog
/Debug/*
/Release/*
/x64/*
*.log
*.suo
CS4412.zip
*vcxproj*
*exe*
*.lastbuildstate
*.ilk
*.iobj
/Debug/*
*.suo
*.ipdb
*.tlog*
*.vcxitems*
/CS4412/Debug
/CS4412/PhoneDictionary/Debug
/CS4412/PhoneDictionary/x64/
/CS4412/PhoneDictionary/Release/
/CS4412/Mergesort/Release/
/CS4412/Mergesort/x64/
/CS4412/Mergesort/Debug/
/CS4412/Dictionary/Debug/
/CS4412/Dictionary/x64/
/CS4412/NonRecursiveQuicksort/x64/
/CS4412/NonRecursiveQuicksort/Debug/
/CS4412/NonRecursiveQuicksort/Release/
/CS4412/RecursiveQuicksort/Release/
/CS4412/RecursiveQuicksort/x64/
CS4412/x64/
CS4412/Debug/
CS4412/Release/
*.docx
CS4412/x64
CS4412/BubbleSort/x64
CS4412/FooSort/x64
CS4412/FooSort/Debug
CS4412/FooSort/Release
CS4412/PriorityQueue/Release
CS4412/PriorityQueue/x64
CS4412/.vs/
